:root {
    --nav: #FBFCFD;
    --navUpdate: #E8F1FF;
    --navRGBA: rgba(251, 252, 253, 0.8);
    --navBorder: #e5e7eb;
    --blue: #8854C0;
    --box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    --white: #FFFFFF;
    --subTitle: rgb(120, 120, 120);
    --footerBorder: rgb(213, 213, 213);
}

#standings-contents {
    width: 75% !important;
}

#standings-wrapper {
    width: 87%;
}

#standings-wrapper .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}

#standings-wrapper .content-table thead tr {
    background-color: var(--blue);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

#standings-wrapper .content-table th,
#standings-wrapper .content-table td {
    padding: 12px 15px;
}

#standings-wrapper .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

#standings-wrapper .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#standings-wrapper .content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--blue);
}

#standings-wrapper .content-table tbody tr.active-row {
    color: var(--blue);
}

#standings-wrapper .content-table td img {
    width: 25px;
    height: 25px;
}

#all-quiz-details .all-quiz-details-body .all-quiz-single-row .quiz-single-row-title img {
    width: 25px;
    height: 25px;
}